@font-face {
    font-family:quicksand;
    src: url(/fonts/Quicksand-VariableFont_wght.ttf);
}


body {
   font-family:quicksand;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    text-align: center;
    background: linear-gradient(to right, #503887, #d4367d);
    padding: 1em 20px 8vh;
    padding-top: 45px;
    font-size: 20px;
    }


.titelseite {
        margin-left: 40px;
} 

.logo {
    order: -1;
}

a{
    color: white;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
    transition: transform 0.5s ease;
}

.men端leiste{
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-decoration: none;
    padding: 10px 10px;
    margin: auto;
    text-align: right;
    list-style: none;
    
}
.men端leiste li{
margin-left: 30px;
}
.men端leiste a:hover {
    transform: translateY(-5px)
}

@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
    }

    .logo, .titelseite, .men端leiste {
        width: 100%;
    }
}
    
footer {
    background: linear-gradient(to right, #503887, #d4367d);
    color: #fff;
    text-align: center;
    padding: 1em 0;
    bottom: 0;
    width: 100%;
}

main {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.team-member {
    width: 300px;
    margin-bottom: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.team-member:hover {
    transform: translateY(-5px);
}

.team-member img {
    width: 100%;
    height: auto;
    display: block;
}

.member-info {
    padding: 20px;
}

.member-info h2 {
    margin-top: 0;
    margin-bottom: 10px;
}
.unseregeschichte {
        width: 60%;
        margin: 20px auto;
        padding: 20px;
        background-color: #545251;
        color: #fff;
        border-radius: 8px;
        text-align: center;
        margin-bottom: 100px;
    } 
.dickeschrift{
    font-weight: bold;
}