.grosse_box{
    font-family:link rel="preconnect" href="https://fonts.googleapis.com"
}
.titel{
    font-family: link rel="preconnect" href="https://fonts.googleapis.com" ;
    box-sizing: border-box;
    border-color: darkblue;
}
