@font-face {
    font-family:quicksand;
    src: url(/fonts/Quicksand-VariableFont_wght.ttf);
}


body {
   font-family:quicksand;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;

        background: linear-gradient(to right, #503887, #d4367d);
        color: #fff;
        padding: 1em 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
footer {
    background: linear-gradient(to right, #503887, #d4367d);
    color: #fff;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
