@font-face {
    font-family:quicksand;
    src: url(/fonts/Quicksand-VariableFont_wght.ttf);
}
body {
   font-family:quicksand;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    text-align: center;
    background: linear-gradient(to right, #503887, #d4367d);
    padding: 1em 20px 8vh;
    padding-top: 45px;
    font-size: 20px;
    }


.titelseite {
        margin-left: 40px;
} 

.logo {
    order: -1;
}

a{
    color: white;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
    transition: transform 0.5s ease;
}

.menüleiste{
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-decoration: none;
    padding: 10px 10px;
    margin: auto;
    text-align: right;
    list-style: none;
    
}
.menüleiste li{
margin-left: 30px;
}
.menüleiste a:hover {
    transform: translateY(-5px)
}

@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
    }

    .logo, .titelseite, .menüleiste {
        width: 100%;
    }
}

main {
    display: block;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: space-around;
   
}




#contact-container {
    display: flex; 
    flex-wrap: wrap;
    background-color: #dedddd; /* Hellgraue Hintergrundfarbe */
    border-radius: 8px; /* Abgerundete Kanten */
    padding: 5px;
    box-sizing: border-box; /* Hinzufügen, um Padding im Gesamtlayout zu berücksichtigen */
}

#contact-form-container {
    flex: 2; /* Zwei Drittel der Seite */;
    padding: 20px;
   
}

#contact-form {
    max-width: 100%; /* Beispiel für die Begrenzung der Formularbreite */
    margin: 0 auto;
}

#contact-image-container {
    flex: 1; /* Ein Drittel der Seite */
    padding: 20px;
}

#contact-image-container img {
    max-width: 100%; /* Das Bild wird nicht breiter als sein Container */
    height: auto; /* Das Seitenverhältnis des Bildes bleibt erhalten */
    display: block; /* Entfernt mögliche zusätzliche Leerzeichen unter dem Bild */
    margin: 0 auto 0 auto; 
    border-radius: 8px;
}

label {
    display: block;
    margin-bottom: 8px;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1.5px solid #503887;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}





#adresse{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 20px;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    align-items: stretch;
    border-radius: 8px;
}

.text-box {
    flex: 1;
    flex-wrap: wrap;
    padding: 20px;
    margin: 10px;
    width: 100%;
    background-color: #dedddd;
    border-radius: 8px;
    line-height: 1.3; 
    text-align: center; /* Text wird zentriert ausgerichtet */
}

.map-container {
    flex: 1;
    flex-wrap: wrap;
    height: 100%;
    padding: 5px;
    margin: 10px;
    border-radius: 8px;
    flex-direction: column;
}

#map {
    border-radius: 8px;
    max-width: 600px;
    max-height: 450px;
 
}






#icon-container {
    display: flex;
    border-radius: 8px;
    justify-content: center;
    align-items: center; /* Optional: Zentriert auch vertikal */
    height: 50px; /* Optional: Setze die Höhe des Containers */
}

.social-icons {
    flex: 1;
    margin-top: 5px; /* Abstand zwischen Text und Icons */
    display: flex;
    justify-content: center;
}


.social-icons img {
    flex: 1;
    width: auto;
    height: 50px;
}





footer {
    background: linear-gradient(to right, #503887, #d4367d);
    color: #fff;
    text-align: center;
    padding: 1em 0;
    bottom: 0;
    width: 100%;
}

.impressum-link {
    color: #fff;
    text-decoration: underline;
    font-size: 16px;
}

@media screen and (max-width: 768px) {
    #map, #contact-form-container, #contact-image-container, .text-box, .map-container {
        margin-bottom: 20px; /* Add some space below each container */
        width: 100%; /* Full width */
        flex-basis: 100%;
    }
}
