@font-face {
    font-family:quicksand;
    src: url(/fonts/Quicksand-VariableFont_wght.ttf);
}

body {
    font-family:quicksand;
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Box-Modell */
    background-color: #fff; /* Weißer Hintergrund */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    text-align: center;
    background: linear-gradient(to right, #503887, #d4367d);
    padding: 1em 20px 8vh;
    padding-top: 45px;
    font-size: 20px;
    }


.titelseite {
        margin-left: 40px;
} 

.logo {
    order: -1;
}

a{
    color: white;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
    transition: transform 0.5s ease;
}

.menüleiste{
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-decoration: none;
    padding: 10px 10px;
    margin: auto;
    text-align: right;
    list-style: none;
    
}
.menüleiste li{
margin-left: 30px;
}
.menüleiste a:hover {
    transform: translateY(-5px)
}

@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
    }

    .logo, .titelseite, .menüleiste {
        width: 100%;
    }
}

.content {
    margin: 40px;  /* Abstand zum Rand */
    padding: 40px; /* Abstand zum Rand */
    border: none; /* Kein Rahmen */
    text-align: center; /* Text zentrieren */
}

h2{
    text-align: center; /* Überschriften zentrieren */
    padding: 20px; /* Abstand zum Rand */
    font-family: quicksand; /* Schriftart */
    font-size: 40px; /* Schriftgröße */
}

.box-container {
    display: flex; /* Boxen nebeneinander anzeigen */
    flex-wrap: wrap; /* Bei zu wenig Platz, Boxen untereinander anzeigen */
    justify-content: space-between; /* Platz zwischen den Boxen */
}

h3{
    text-align: center;
    font-style: semi-bold;
    font-size: 25px;
    color: white;
}

h4{
    text-align: center;
    font-style: semi-bold;
    font-size: 22px;
    color: black;
}

h5{
    text-align: left;
    font-style: semi-bold;
    font-size: 18px;
    color:white;
}

.box {
    flex: calc(48% - 300px); /* Boxen auf 33,333% Breite setzen */
    background-color: #545251; /* Schwarzer Hintergrund */
    color: white; /* Weißer Text in den Boxen */
    padding: 20px; /* Abstand zum Rand */
    margin: 10px;   /* Abstand zwischen den Boxen */
    border-radius: 9px;
}

.bottom-text-eins {
    margin: 20px;
    padding: 20px; 
    text-align: center; /* Text zentrieren */
    padding-right: 100px; /* Abstand zum rechten Rand */
}

.black-container {
    background-color: #545251; /* Farbe des schrägen Containers */
    position: relative;
    overflow: hidden;
    margin-bottom: 40px;
}

.black-container:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #545251;
}


.bottom-text-zwei {
    color: #fff;
    margin: 0 auto; /* Zentriert den Text horizontal */
    text-align: left; /* Links ausrichten */
    max-width: 600px; /* Maximalbreite des Textes */
    padding: 20px;
    position: relative; /* Positionierung relativ zum Elternelement */
    z-index: 1; /* Text über Hintergrund anzeigen */
}

.bottom-text-zwei ul {
    list-style-type: disc; /* Aufzählungszeichen */
    padding-left: 20px; /* Abstand zum linken Rand */
}

.bottom-text-zwei li {
    margin-bottom: 10px; /* Abstand zwischen den Aufzählungspunkten */
    display: auto; /* Zentriert den Text horizontal */
}

footer {
    background: linear-gradient(to right, #503887, #d4367d);
    color: #fff;
    text-align: center;
    padding: 1em 0;
    bottom: 0;
    width: 100%;
}

.impressum-link {
    color: #fff;
    text-decoration: underline;
    font-size: 16px;
}